h1 {
    color: blue;
}

label {
    font-weight: bold;
    font-style: italic;
}

.jumbotron {
    min-height: 100vh;
}

.btnEnviar {
    background-color: #6495ED !important;
    border-color: #6495ED !important;
}